.button {
    border-radius: var(--br-small);
    padding: var(--btn-padding);
    color: hsl(var(--clr-white));
}

.green {
    background: hsl(var(--clr-primary));
}

.danger {
    background: hsl(var(--clr-red));
}

.green:hover {
    outline: var(--oln-primary-neutral);
}

.danger:hover {
    outline: var(--oln-red-neutral);
}