.employeeDashboardPage {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home {
    display: flex;
    background: white;
    padding: 2rem;
    border-radius: var(--br-semi);
    gap: 1rem;
}

.table {
    text-align: left;
    min-width: 50rem;
    margin-top: 0.5rem;
    background: hsl(var(--clr-white));
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.5rem;
    border: 1px solid hsl(var(--clr-light-gray))
}

.room {
    
}

.logoutBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}