.room {
    min-width: 40rem;
    max-width: 55rem;
    height: 80%;
    background: hsl(var(--clr-white));
    border-radius: var(--br-semi);
    display: grid;
    grid-template-rows: auto 3rem;
    overflow: hidden;
}

.roomImages, .uploadImageForm {
    padding: var(--gap-small);
}

.roomImages {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-small);
}

.uploadImageForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border-small-primary);
}

.uploadImageForm button {
    height: fit-content;
}

.imageCard {
    height: 13rem;
    width: 13rem;
    display: grid;
    grid-template-rows: 90% auto;
    text-align: center;
    border: var(--border-small-primary);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all var(--tsn-time) ease;
    box-shadow: 0 0 0.5rem 0 hsl(var(--clr-black), 0.5);
}
.imageCard:hover {
    transform: translateY(-0.2rem);
}

.image {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-bottom: var(--border-small-primary);
}

.imageCard p {
    font-size: var(--fs-small);
    margin: auto;
}

.imageCard p span {
    font-weight: var(--fw-medium);
}

.imageModal {
    max-height: 30rem;
    max-width: 50rem;
    background-size: contain;
}