.navList, .roomImages, .imageButtons,
.exitBtnContainer {
    display: flex;
}

.adminDashboard {
    display: grid;
    grid-template-columns: 15rem auto;
    height: 100vh;
}

.systemTitle {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.navigation {
    padding: 0.5rem 0.8rem;
}

.navList {
    flex-direction: column;
    gap: 10px;
    margin-top: 0.8rem;
}

.navList > li {
    border-radius: var(--br-semi);
    overflow: hidden;
}

.navList > li > a {
    padding: 0.5rem;
    display: inline-block;
    width: 100%;
    transition: all var(--tsn-time) ease;
}

.navList > li > a:not(.danger):hover {
    background: hsl(var(--clr-primary));
    color: hsl(var(--clr-white));
}

.danger {
    color: hsl(var(--clr-red));
}
.danger:hover {
    font-weight: var(--fw-bold);
}

.main {
    background: hsl(var(--clr-light-gray));
    padding: 1rem;
    position: relative;
}


.table {
    text-align: left;
    min-width: 50rem;
    margin-top: 0.5rem;
    background: hsl(var(--clr-white));
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.5rem;
    border: 1px solid hsl(var(--clr-light-gray))
}

/* --------------------- ADMIN EMPLOYEES DASHBOARD --------------------- */
.adminEmployeesDashboard, .adminRoomsDashboard, .adminStudentsDashboard {
    width: -moz-fit-content;
    width: fit-content;
    /* margin-inline: auto; */
}

/* --------------------- CREATE EMPLOYEE FORM --------------------- */
.createEmployeeForm, .createRoomsForm, .createStudentForm {
    max-width: 25rem;
    background: hsl(var(--clr-white));
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
}
 .createEmployeeForm > label, .createRoomsForm > label, 
 .assignedEmployees, .createStudentForm > label {
    display: grid;
    grid-template-columns: 8rem auto;
    align-items: center;
    margin-bottom: 0.5rem;
}


label input{
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid hsl(var(--clr-black));
    background: none;
    width: 100%;
}

.submit {
    background: hsl(var(--clr-primary));
    color: hsl(var(--clr-white));
    padding: 0.3rem 2rem;
    border-radius: var(--br-semi);
    margin-top: 1rem;
}

.submit:hover {
    background: var(--clr-primary-hover);
}

/* --------------------- ROOM --------------------- */
.room {
    min-width: 30rem;
    min-height: 80%;

}

.roomImages {
    gap: 0.8rem;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.imageCard {
    display: grid;
    grid-template-rows: 3fr auto auto; 
    gap: 0.5rem;
    height: 14rem;
    width: 15rem;
    background-color: hsl(var(--clr-white));
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
    align-items: space-between;
    box-shadow: 0 0 0.5rem 0 hsl(var(--clr-black), 0.5);
    transition: transform var(--tsn-time) ease;
}

.imageCard:hover {
    transform: translateY(-0.2rem);
}

.imageCard p {
    font-size: var(--fs-small);
}

.imageCard span {
    font-weight: var(--fw-medium);
}

.imageContainer {
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
    border: 0.06rem solid hsl(var(--clr-primary));
}

.exitBtnContainer {
    justify-content: flex-end;
}

.imageButtons {
    justify-content: space-around;
}

.imageModal {
    max-height: 30rem;
    max-width: 50rem;
    background-size: contain;
}